/* ImageCarousel.css */
/* ... previous styles ... */
.carousel{
  position: relative;
  margin-top: 10px;
  border: 1px solid rgb(222, 219, 219);
  overflow: hidden;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  bottom: 50px;
  left: 200px;
}

.arrow{
  outline: none;
  border: none;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  
}
.left-arrow{
  position: absolute;
  top: 290px;
  left: 10px;
}
.right-arrow{
  position: absolute;
  top: 294px;
  right: 10px;
}
.carousel-image{
  width: 450px;
  height: 600px;
  
  object-fit: cover;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: white;
}
