.reel-video{
  background-color: black;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 2px;
  height: 600px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.toggleContainer{
  position: relative;
}
.toggleBtnPlay{
  border: none;
  outline: none;
  position: absolute;
  top: 280px;
  background-color: transparent;
  
}
.playBtn{
  width: 50px;
  height: 50px;
}
.toggleBtnMute{
  position: absolute;
  outline: none;
 border: none;
  background-color: transparent;
  left:190px;
  top:5px;
}
button:focus{
  outline: none;
}
.video{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
